<div class="row">
  <div class="col-sm-12">
    <div class="portfolio-link album-box" data-toggle="modal" data-id="{{Id}}" data-title="{{Title}}">
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
            </div>
        </div>
        <h3 class="text-center">{{Title}}</h3>
        <img src="{{ImageUrl}}" title="{{Title}}" class="img-centered img-responsive"/>
    </div>
  </div>
</div>